{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header-admin.html.twig" %}
{% endblock %}

{% block main %}
    <main class="py-5 container">
        <h1 class="mb-3">Liste des utilisateurs</h1>
        <a href="index.php?route=create" class="btn btn-primary">Créer un utilisateur</a>
        
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        
                        <td>
                            <a href="index.php?route=show&id={{ user.id }}" class="btn btn-info" title="Voir">
                                <span class="bi bi-eye"></span>
                            </a>
                            <a href="index.php?route=update&id={{ user.id }}" class="btn btn-success" title="Modifier">
                                <span class="bi bi-pencil"></span>
                            </a>
                            <a href="index.php?route=delete&id={{ user.id }}" class="btn btn-danger" title="Supprimer">
                                <span class="bi bi-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Aucun utilisateur trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}