{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header-admin.html.twig" %}
{% endblock %}

{% block main %}
    <main class="container py-5">
        <h1>Détails utilisateur</h1>
        {% if users is defined and users is not null %}
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Prénom et nom : {{ users.firstName }} {{ users.lastName }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Email : {{ users.email }}</h6>
                <p class="card-text">Rôle : {{ users.role }}</p>
                <a href="index.php?route=update&id={{ users.id }}" class="card-link">Modifier</a>
                <a href="index.php?route=delete&id={{ users.id }}" class="card-link">Supprimer</a>
            </div>
        </div>
        {% else %}
        <p>Erreur : données utilisateur non disponibles.</p>
        {% endif %}
    </main>
{% endblock %}